/** @format */

.wrapper {
	margin-top: 58px;
}
.content {
	padding: 20px 40.5px;
	margin: 0 100px;
}
.title {
	h1 {
		font-size: 30px;
		margin: 0 0 10px;
		font-weight: 600;
		text-align: center;
	}
	.length {
		display: block;
		text-align: center;
		font-size: 16px;
		opacity: 0.58;
		margin: 0 0 10px;
	}
	.line {
		background: #252a2b;
		display: block;
		width: 60px;
		height: 4px;
		margin: 25px auto 0;
	}
}
.subs-text {
	margin-top: 20px;
}
