/** @format */

.wrapper {
	height: 100%;
}
.height-fix {
	min-height: 600px;
}
.container {
	margin-top: 58px;
	display: flex;
	background: rgb(239, 240, 245);
	height: 100%;
	padding-bottom: 50px;
	border-bottom: 4px solid #ee4d2d;
}
.content {
	width: 1188px;
	margin: 40px auto 0 auto;
}
.select {
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
	padding: 16px 0;
	font-size: 16px;
	line-height: 19px;
	text-align: center;
	color: rgba(0, 0, 0, 0.8);
	background: #fff;
	border-bottom: 2px solid rgba(0, 0, 0, 0.09);
	display: flex;
	flex: 1;
	overflow: hidden;
	align-items: center;
	justify-content: center;
	transition: color 0.2s;

	&:hover {
		color: #ee4d2d;
	}
}
.select-focus {
	color: #ee4d2d;
	border-bottom: 2px solid #ee4d2d;
}
.search {
	padding: 12px 0;
	margin: 12px 0;
	display: flex;
	align-items: center;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.05);
	color: #212121;
	background: #eaeaea;
	border-radius: 2px;

	input {
		flex: 1;
		font-size: 14px;
		line-height: 16px;
		border: 0;
		outline: none;
		font-weight: 300;
		background-color: inherit;
		color: black;
	}
}
.order {
	border-radius: 0.125rem;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	width: 100%;
}
.wrapper_no_order {
	min-height: 600px;
	background-color: white;
	display: flex;
}
.no_order {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: auto;
	div {
		background-position: 50%;
		background-size: contain;
		background-repeat: no-repeat;
		width: 100px;
		height: 100px;
		background-image: url(https://deo.shopeemobile.com/shopee/shopee-pcmall-live-sg/orderlist/5fafbb923393b712b96488590b8f781f.png);
	}
	h2 {
		margin: 20px 0 0;
		font-size: 16px;
		line-height: 1.4;
		color: rgba(0, 0, 0, 0.8);
		font-weight: 500;
	}
}
.have_order {
}
.list_order {
	margin: 12px 0;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.05);
	border-radius: 0.125rem;
	background-color: white;
}
.wrapper_information {
	padding: 10px 24px;
}
.information_transition {
	display: flex;
	.transition {
		display: flex;
		align-items: center;
		font-size: 13px;
		border-right: 1px solid rgba(0, 0, 0, 0.12);
		padding-right: 10px;
	}
	.status_transition {
		line-height: 24px;
		color: #ee4d2d;
		text-align: right;
		text-transform: uppercase;
		white-space: nowrap;
		display: block;
		margin-left: 12px;
		font-size: 14px;
	}
}
.wrapper_transition {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.transition {
	.text {
		margin: 0 6px;
	}
	.icon_query {
		border: 1px solid black;
		border-radius: 50%;
		width: 16px;
		height: 16px;
		display: flex;
		align-items: center;
		justify-content: center;
	}
}
.line_information {
	border-bottom: 1px solid rgba(0, 0, 0, 0.09);
	padding: 10px 24px;
}
.line {
	width: 100%;
	height: 0;
	border-bottom: 1px dotted rgba(0, 0, 0, 0.09);
	position: relative;
}
.details_order {
	display: flex;
	word-wrap: break-word;
	padding: 10px 0;
	align-items: center;
	flex-wrap: nowrap;
	color: rgba(0, 0, 0, 0.87);

	.description {
		display: flex;
		padding: 0 12px 0 0;
		flex: 1;
		align-items: flex-start;
		flex-wrap: nowrap;
	}
}
.description {
	img {
		width: 80px;
		height: 80px;
		flex-shrink: 0;
		border: 1px solid #e1e1e1;
		background: #e1e1e1;
		object-fit: cover;
	}
	.product {
		min-width: 0;
		padding: 0 0 0 12px;
		display: flex;
		flex: 1;
		flex-direction: column;
		align-items: flex-start;
		word-wrap: break-word;
	}
}
.name {
	overflow: hidden;
	display: -webkit-box;
	text-overflow: ellipsis;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
	margin: 0 0 5px;
	font-size: 16px;
	line-height: 22px;
	max-height: 48px;

	span {
		vertical-align: middle;
	}
}
.classify {
	margin: 0 0 5px;
	color: rgba(0, 0, 0, 0.54);
	font-size: 14px;
}
.quantity {
	margin: 0 0 5px;
	font-size: 14px;
}
.description_price {
	text-align: right;
}
.prices {
	margin-left: 12px;
}
.price {
	margin: 0 4px 0 0;
	-webkit-text-decoration-line: line-through;
	text-decoration-line: line-through;
	color: #000;
	opacity: 0.26;
	overflow: hidden;
	text-overflow: ellipsis;
	vertical-align: middle;
	font-size: 14px;
	line-height: 16px;
}
.price_sale {
	color: #ee4d2d;
	vertical-align: middle;
	font-size: 14px;
	line-height: 16px;
}
.payment {
	padding: 24px 24px 12px;
	background: #fffefb;

	div {
		label {
			margin: 0 10px 0 0;
			font-size: 15px;
			line-height: 20px;
			color: rgba(0, 0, 0, 0.8);
		}
	}
}
.total_price {
	color: #ee4d2d;
	font-size: 20px;
	line-height: 30px;
}
.buy {
	background-color: #ee4d2d;
	border-color: #cd3011;
	color: #fff;
	font-weight: 400;
	font-size: 14px;
	border-radius: 4px;
	padding: 8px 10px;
	margin-left: 20px;
	min-width: 150px;
	&:hover {
		background-color: #d73211;
		border-color: #ba2b0f;
	}
}
.loader {
	width: 16px;
	height: 16px;
	border-radius: 50%;
	display: block;
	margin: 15px auto;
	position: relative;
	background: #fff;
	box-shadow: -24px 0 #fff, 24px 0 #fff;
	box-sizing: border-box;
	animation: shadowPulse 2s linear infinite;
}

@keyframes shadowPulse {
	33% {
		background: #fff;
		box-shadow: -24px 0 #ff3d00, 24px 0 #fff;
	}
	66% {
		background: #ff3d00;
		box-shadow: -24px 0 #fff, 24px 0 #fff;
	}
	100% {
		background: #fff;
		box-shadow: -24px 0 #fff, 24px 0 #ff3d00;
	}
}
